#layout {
    width: 99.99%;
    background-color: crimson;
    margin: 0 auto;
    display: flex;
	align-items: center;
	justify-content: space-around;
	
	ul {
    display: inline-block;
    width: 100%;
    	li {
    	 	display: inline-block;
    	}
    	li a {
			    display: inline-block;
			    color: white;
			    text-align: center;
			    padding: 14px 16px;
			    text-decoration: none;
			}
    
	    li a {
		    display: inline-block;
		    color: white;
		    text-decoration: none;
		    margin: 35px 20px 20px 55px;
		}
		li a:hover {
	    display: inline-block;
	    color: black;
	    
		}
		li a:hover {
			
			    background-color: #7CC3D8;
			    border-radius: 50px;
	  }
}
	
}
