header {
  width: 70%;
  margin: 0 auto;
  height: 100px;
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */ }
  header .dropbtna {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; }
  header .dropdowna {
    position: relative;
    display: inline-block; }
  header .dropdown-contenta {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: -2em;
    margin-top: -1em; }
  header .dropdown-contenta a {
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white; }
  header .dropdown-contenta a:hover {
    background-color: #80ffff; }
  header .show {
    display: block; }
  header .slide-bar {
    position: inherit;
    top: -20px;
    left: -3em;
    width: 48px;
    height: 44px;
    background-color: #1d2324;
    border-color: transparent;
    outline: none;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    header .slide-bar p {
      margin-top: 0.3em;
      width: 25px;
      height: 5px;
      background-color: #ffffff;
      backface-visibility: hidden;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      margin-left: 2px;
      color: white; }
  header h1 {
    color: #FFFFFF;
    font-size: 3em;
    display: inline-block;
    margin-top: 0.55em; }
  header .nav {
    float: right;
    padding-top: 1.5em; }
    header .nav ul {
      display: inline-block;
      list-style-type: none;
      padding: 0 20px;
      overflow: hidden; }
      header .nav ul li {
        float: left; }
      header .nav ul li a, header .nav ul .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; }
      header .nav ul li a:hover, header .nav ul .dropdown:hover .dropbtn {
        background-color: red; }
      header .nav ul li.dropdown {
        display: inline-block; }
      header .nav ul .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1F2324;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
      header .nav ul .dropdown-content a {
        color: #FFFFFF;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left; }
      header .nav ul .dropdown-content a:hover {
        background-color: #80ffff; }
      header .nav ul .dropdown:hover .dropdown-content {
        display: block; }

#layout {
  width: 99.99%;
  background-color: crimson;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #layout ul {
    display: inline-block;
    width: 100%; }
    #layout ul li {
      display: inline-block; }
    #layout ul li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
    #layout ul li a {
      display: inline-block;
      color: white;
      text-decoration: none;
      margin: 35px 20px 20px 55px; }
    #layout ul li a:hover {
      display: inline-block;
      color: black; }
    #layout ul li a:hover {
      background-color: #7CC3D8;
      border-radius: 50px; }

#exmashine {
  background-image: url("../images/maxresdefault.jpg");
  width: 99.99%;
  height: 100%;
  position: relative;
  display: inline-block;
  background-image: no-repeat;
  background-repeat: !important no-repeat;
  background-position: !important center;
  z-index: 1; }
  #exmashine h1 {
    color: white;
    display: inline-block;
    font-size: 4em;
    width: 99.99%;
    text-align: center;
    margin-top: 3em; }
  #exmashine p {
    color: #cccccc;
    display: inline-block;
    font-size: 4em;
    width: 99.99%;
    text-align: center;
    margin-top: 2em;
    font-size: 18px;
    letter-spacing: 2px; }
  #exmashine .buttons {
    display: inline-block;
    margin-left: 35%;
    margin-top: 3em; }
    #exmashine .buttons a {
      text-decoration: none; }
  #exmashine .button {
    width: 150px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid white;
    text-align: center;
    padding-top: 1.5em;
    float: left;
    font-size: 12px;
    margin-top: 3em;
    margin-left: 2em; }
  #exmashine .button:first-child:hover {
    background-color: #7CC3D8; }
  #exmashine .button:last-child {
    background-color: #7CC3D8; }
  #exmashine .button:last-child:hover {
    background-color: transparent; }
  #exmashine .images {
    margin-top: 4.6em;
    text-align: center; }
    #exmashine .images #one {
      display: inline-block;
      width: 15%;
      margin-top: 1.7em; }
      #exmashine .images #one #oneOne {
        display: inline-block;
        width: 100%;
        height: 150px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transform: scale(1, 1);
        transition: all 0.2s ease-in; }
      #exmashine .images #one #oneOne:hover {
        transform: scale(1.1, 1.1); }
    #exmashine .images #two {
      display: inline-block;
      width: 15%;
      margin-top: 1.7em;
      margin-left: 4em; }
      #exmashine .images #two #twoTwo {
        display: inline-block;
        width: 100%;
        height: 180px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transform: scale(1, 1);
        transition: all 0.2s ease-in; }
      #exmashine .images #two #twoTwo:hover {
        transform: scale(1.1, 1.1); }
    #exmashine .images #three {
      display: inline-block;
      width: 15%;
      margin-top: 1.7em;
      margin-left: 4em; }
      #exmashine .images #three #threeThree {
        display: inline-block;
        width: 100%;
        height: 150px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transform: scale(1, 1);
        transition: all 0.2s ease-in; }
      #exmashine .images #three #threeThree:hover {
        transform: scale(1.1, 1.1); }

#content {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  position: relative; }
  #content #textOverBullets {
    display: inline-block;
    font-size: 3em;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    font-weight: bold; }
  #content #secondTextOverBullets {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: grey;
    padding: 80px 0px 80px 0px; }
  #content #bullets ul {
    list-style-type: none; }
    #content #bullets ul p {
      color: #555555;
      line-height: 1.4em; }
    #content #bullets ul li:hover {
      color: white; }
    #content #bullets ul li {
      line-height: 1.5em;
      list-style-type: none;
      color: grey;
      font-size: 25px; }
  #content #firstBullets {
    float: left;
    color: white;
    display: inline-block;
    padding-left: 3em;
    font-size: 30px; }
  #content #secondBullets {
    float: left;
    color: white;
    display: inline-block;
    font-size: 30px;
    padding-left: 5em; }
  #content #thirdBullets {
    float: left;
    color: white;
    display: inline-block;
    font-size: 30px;
    padding-left: 5em; }
  #content #fourthBullets {
    float: left;
    color: white;
    display: inline-block;
    font-size: 30px;
    padding-left: 5em; }
  #content #popular {
    color: white;
    font-size: 3em;
    display: inline-block;
    width: 1170px;
    text-align: center;
    margin-top: 4em; }

#test #button {
  margin-top: 5em;
  opacity: 0.4;
  display: inline-block;
  font-weight: 300;
  cursor: pointer;
  border: 1px solid Transparent;
  background: rgba(169, 169, 169, 0.07);
  outline: none;
  text-align: center;
  transition: 0.2s all cubic-bezier(0.25, 0.1, 0.01, 0.97);
  padding: 23px 0px;
  border-radius: 42px;
  text-transform: uppercase;
  font-size: 13px;
  width: 97%;
  min-width: 190px;
  width: 0%;
  margin-left: 42%;
  border-color: #7cc3d8;
  color: #ffffff; }

.article {
  display: block;
  text-align: center;
  margin-top: 100px;
  height: 500px; }
  .article .text-center {
    text-align: center;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    color: #FFFFFF; }
  .article .thumbnail {
    float: left;
    max-width: 270px;
    display: block;
    padding: 0;
    background: transparent;
    border: none;
    position: relative;
    overflow: hidden;
    margin: 0 auto; }
  .article .thumbnail img:hover {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/0/0a/Hercules_(2014_film)_poster.jpg");
    width: 200px;
    height: 230px; }
  .article .text-article {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1;
    font-weigth: 500;
    float: left;
    text-align: center;
    margin-left: 25%; }
  .article .rate {
    margin-top: 26%;
    margin-left: -19%;
    float: left;
    display: inline-block; }
  .article .rate-star-img {
    width: 12px;
    height: 12px;
    background-color: black;
    color: blue; }
  .article .pic {
    display: inline-block;
    float: left;
    margin-left: 75px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    margin-top: 1em; }
    .article .pic .count .text-count1 {
      font-size: 13px;
      margin-top: -3.4em;
      position: absolute; }
    .article .pic .count .text-count2 {
      font-size: 13px;
      margin-top: -3.4em;
      position: absolute;
      margin-left: 4em; }
    .article .pic .count .text-count3 {
      font-size: 13px;
      margin-top: -3.4em;
      position: absolute;
      margin-left: 9.8em; }
  .article .pic img {
    display: block;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    opacity: 1;
    transform: scale(1, 1);
    transition: all 0.2s ease-in; }
  .article .star-white {
    color: #FFFFFF;
    padding-bottom: 50%;
    float: left;
    width: 12px;
    height: 12px;
    display: inline-block; }
  .article .star {
    padding-bottom: 50%;
    float: left;
    width: 12px;
    height: 12px;
    display: inline-block; }
  .article .anchor-star {
    display: inline-block; }
  .article .pic img:hover {
    opacity: 0.7;
    transform: scale(1.1, 1.1); }
  .article #image-title {
    width: 1170px;
    margin: 0 auto;
    display: inline-block;
    text-align: center; }
  .article .hercules {
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 20px; }
  .article .div {
    height: 0.7em;
    margin-top: -0.5em;
    background-color: black;
    opacity: 0.7;
    width: 150px; }
    .article .div .click .pics1 {
      font-size: 15px;
      color: white;
      float: left;
      margin-top: 14px; }
    .article .div .click .pics2 {
      font-size: 15px;
      color: white;
      float: left;
      margin-top: 1em;
      margin-left: 3.5em; }
    .article .div .click .pics3 {
      font-size: 15px;
      color: white;
      float: left;
      margin-top: 15px;
      margin-left: 3.5em; }

.text-center1 {
  background-color: #ff0000;
  width: 99.99%;
  height: 700px;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; }
  .text-center1 h2 {
    color: white;
    display: inline-block;
    font-size: 4em;
    width: 99.99%;
    text-align: center;
    margin-top: 1em; }
  .text-center1 .circle-img {
    border-radius: 50%;
    margin-top: 1%;
    width: 21%;
    z-index: 2; }
  .text-center1 .img-border {
    display: inline-block;
    width: 99.99%;
    text-align: center;
    margin-top: 2em; }
  .text-center1 .arrow {
    position: relative;
    left: -5%;
    margin-bottom: 10%;
    margin-left: 0%;
    text-align: center;
    width: 2%; }
  .text-center1 .rotate-arrow {
    position: relative;
    left: 3%;
    text-align: center;
    width: 2%;
    margin-bottom: 10%;
    margin-left: 0%;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg); }
  .text-center1 .img-text-james {
    text-align: center;
    margin-top: 2em;
    color: white;
    font-size: 1.5em;
    margin-top: 1.1em; }
  .text-center1 .movie-fans {
    text-align: center;
    font-size: 1em;
    color: #DDBEC8;
    margin-top: 0.3em;
    font-style: italic; }
  .text-center1 .text-lorem {
    text-align: center;
    font-size: 25px;
    color: #DDBEC8;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin-top: 5%; }
  .text-center1 .a {
    color: red; }

.text-center-mail-us {
  text-align: center;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 1em; }

.mail-us {
  width: 100%;
  border: 1px solid #1F2324;
  margin: 0 auto;
  background-color: #1F2324;
  height: 500px; }

.mail-form {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }

.mailform label {
  position: relative;
  display: inline-block;
  width: 48.5%; }

.textarea {
  position: relative;
  display: inline-block;
  width: 98.5% !important; }

.mailform {
  text-align: left; }

label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

.mailform label:first-child {
  margin-top: 0; }

.mfValidation {
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  margin-top: -20px;
  margin-left: 10px;
  font-weight: 300;
  font-size: 12px;
  background: #111;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 998;
  height: 20px;
  line-height: 12px;
  min-height: 20px;
  padding: 3px 7px;
  right: 0;
  top: 0;
  width: 167px; }

.mailform label input, textarea {
  display: block;
  width: 90%;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 20px 20px 18px 0px;
  line-height: 22px;
  color: #b1b6b8;
  background: transparent;
  border: none;
  border-bottom: 1px solid #31383a;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-left: 4em;
  margin-top: 2em; }

.mfPlaceHolder {
  font: inherit;
  cursor: text;
  position: absolute;
  left: 4em;
  bottom: 0;
  padding: 20px 20px 18px 0px;
  line-height: 22px;
  color: #b1b6b8;
  opacity: 1;
  font-size: 16px;
  font-weight: 300;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.change {
  opasity: .0;
  transform: translateY(-30%) scale(0.8); }

.map {
  width: 100%;
  height: 400px;
  opacity: 0.3;
  overflow: hidden; }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

#map iframe {
  background-color: rgba(255, 255, 255, 0.2); }

#footer #footer-first-text {
  color: white;
  width: 100%; }

.footer {
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  height: 200px;
  margin-top: 4%; }

.footer-question {
  color: #FFFFFF;
  font-size: 23px;
  display: inline-block;
  margin-left: -120px; }

.movies {
  float: left;
  margin-top: 2px;
  display: inline-block;
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.2; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #1d2324; }

#container {
  width: 99%;
  border: 1px solid white; }

/*# sourceMappingURL=style.css.map */
